html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Minecraft', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background: radial-gradient(circle, rgba(198, 111, 1, 1) 4%, rgba(198, 78, 1, 1) 36%, rgba(149, 24, 6, 1) 86%);
  color: #fff;
}
p {
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 2px;
}
a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.6;
}

* {
  box-sizing: border-box;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #f2f2f2;
  border-color: #999;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/Minecraft.ttf');
}
